.gameboardGrid {
    display: grid;
    width: 100%;
    max-width: 25vw;
    grid-template-rows: repeat(20, calc(50vw / 20));
    grid-template-columns: repeat(10, 1fr);
    border: 4px solid #64748b;
}